* {
	margin:0;
	padding:0;
}

body{
	font: normal 16px Arial, Helvetica, sans-serif;
}

h1, h3, .items-list span{
	font: normal 24px 'Open Sans', Arial, Helvetica, sans-serif;
}

/*-----------------
	The Header
------------------*/

header {
	position: fixed;
	top: 0;
	left:0;
	right:0;

	height: 40px;
	z-index: 100;

	background-color: #282b2c;
	padding: 20px 40px;
	color: #fff;
	box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.1);
}

header a {
	color: #ffffff;
	text-decoration: none;
}

header h2.tzine{
	float: right;
	opacity:0.9;
}

header h2.tzine:hover{
	opacity:1;
}

header h2.tzine a{
	font-size: 13px;
	text-transform: uppercase;
	display: inline-block;
	padding: 12px 18px;
	border-radius: 3px;
	background-color: #5895DB;
}


@media (max-width: 500px){

	header {
		padding: 20px 15px;
	}

	header h1{
		font-size: 24px;
		margin: 0;
	}

}

/*-----------------
	Main Content
------------------*/


.main-content{
	box-sizing: border-box;
	text-align: center;
	margin: 30px auto 60px;
	padding: 0 40px;
}

.main-content h3,
.items-list span,
.top-list{
	font-size: 28px;
	color:  #5a96b9;
	padding-bottom: 15px;
}

@media (max-width: 600px){

	.main-content{
		margin: 45px auto;
		padding: 0 25px;
	}

}


/*-------------------
	All Products Page
--------------------*/

/*	Filter Form	*/

.filters{
	box-sizing: border-box;
	padding: 5px 30px 30px;
	width: 190px;
	background-color: #FFF;
	border: 1px solid #DBE3E7;
	border-radius: 3px;
	box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.08);
	position: fixed;
	text-align: left;
	color: #2B2E31;
	opacity: 0;
	pointer-events: none;
}

.filters .filter-criteria{
	display: block;
	margin: 10px 0 10px;
}

.filters span{
	font-size: 16px;
	display: block;
	margin-bottom: 8px;
	margin-top: 8px;
	font-weight: bold;
}

.filters label{
	display: block;
	line-height: 1.4;
	font-size: 15px;
}

.filters label input{
	margin-right: 10px;
}

.filters button{
	border-radius: 2px;
	background-color:  #4BC34B;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
	border: 0;
	color: #ffffff;
	font-weight: bold;
	font-size: 13px;
	cursor: pointer;

	width: 95px;
	height: 32px;
	margin-top: 10px;
}


/*	Products List	*/

.all-products h3{
	opacity: 0;
}

.products-list{
	list-style:none;
	margin-left:225px;
	max-width: 1500px;
	text-align: center;
	padding: 0;
	opacity: 0;
	font-size: 0;
}

.all-products.visible .products-list,
.all-products.visible .filters,
.all-products.visible h3{
	opacity: 1;
	transition: 1s;
	pointer-events: auto;
}

.products-list > li{
	box-sizing:border-box;
	display: inline-block;
	cursor: pointer;
	position: relative;
	transition: 0.2s;

	text-align:left;
	font:normal 12px sans-serif;

	background-color:#ffffff;
	border:1px solid #dbe3e7;
	border-radius: 3px;
	box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.08);

	margin: 0 12px 14px 0;
	padding: 25px;
}

.products-list > li.hidden{
	opacity: 0.2;
	pointer-events: none;
}

/* The product image */

.products-list .product-photo{
	display: block;
	text-align: center;
	box-shadow : 0 0 20px 8px #f3f3f3 inset;

	width: 275px;
	margin-bottom: 25px;
	padding: 20px 0;
	box-sizing: border-box;
}

/* The product name */

.products-list h2{
	display: block;
	font-size: 18px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
	max-width: 200px;
	margin:0;
}

.products-list h2 a{
	text-decoration: none;
	color: #2B2E31;
}

/* Product description */

.products-list .product-description{
	margin-top: 20px;

	color: #5d5d5d;
	font-size: 14px;
	line-height: 1.45;
	white-space: normal;

	max-width: 260px;
	margin-bottom: 20px;

	list-style: none;
}

.products-list .product-description li{
	display: block;
	margin-right: 5px;
}

.products-list .product-description li:first-child{
	display: block;
}

.products-list .product-description li span{
	font-weight: bold;
}

/* Price and order button */

.products-list button,
.total-button{
	border-radius: 15px;
	background-color: #d24e8f;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
	border: 0;
	color: #ffffff;
	font-weight: bold;
	font-size: 20px;
	cursor: pointer;

	width: 150px;
	height: 40px;
}

.products-list .product-price{
	float: right;

	color:  #4e4e4e;
	font-weight: bold;
	font-size: 20px;

	padding-top: 6px;
	margin: 0;
}

.products-list .highlight{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.1);
	opacity: 0;
	transition: 0.4s;
}

.products-list > li:hover .highlight{
	opacity: 1;
}

/* Making the list responsive */

@media (max-width: 800px){

	.products-list .product-photo{
		width: 225px;
	}

	.products-list .product-description{
		max-width: 225px;
	}
}


/*---------------------------
	Single Product Page
----------------------------*/

.single-product{
	z-index: 100;
}

.total-products{
	z-index: 100;
}

.overlay{
	height: 20px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #282b2c;
	transition: 0.6s;
	z-index: 100;
}

.single-product.visible .overlay,
.total-products.visible .overlay{
	height: 100%;
}

.preview-large{
	box-sizing: border-box;
	width: 760px;
	height: 550px;
	position: fixed;
	left: 50%;
	margin-left: -375px;
	top: 50%;
	margin-top: -275px;
	pointer-events: none;

	border-radius: 6px;
	background-color:  #ffffff;

	z-index: 102;
	opacity: 0;
	transition: 0.4s;

}

.single-product.visible .preview-large,
.total-products.visible .preview-large{
	opacity: 1;
	transition: 1.4s;
	pointer-events: auto;
}

.preview-large h3{
	margin-top: 20px;
}

.preview-large img{
	width: 70%;
	height: 280px;
	border-bottom: 3px solid #efefef;
	border-radius: 5px 5px 0 0;
}

.preview-large p{
	line-height: 23px;
	padding: 50px 45px;
}

.close{
	position: absolute;
	right: 25px;
	top: 0;

	font-size: 28px;
	color: #de3c9e;
	cursor: pointer;
}


/*---------------------------
	Error Page
----------------------------*/

.error{
	opacity: 0;
	transition: 0.6s;
	pointer-events: none;
	position: absolute;
	left: 0;
	top: 100px;
	width: 100%;
}

.error.visible{
	opacity: 1;
}

.error h3{
	font-size: 40px;
}

.nav-info{
	width: 90px;
	height: 65px;
	border: 2px solid #87bae1;
	margin-top: 15px;
	cursor: pointer;
}

.nav-info:hover{
	border: 2px solid red;
}

.nav-info span{
	display: block;
}

.nav-info img{
	width: 35px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
}

.items-list{
	width: 650px;
	margin: 15px auto;
	display: flex;
	justify-content: space-between;
}

.items-list span{
	width: 100px;
}

.preview-large .items-list h3{
	width: 300px;
	margin-top: 0px;
}


.preview-large .items-list img{
	width: 10%;
	height: 50px;
}

.total-products .preview-large{
	overflow: auto;
	margin-top: 50px;
	top: 10%;
}

.delete-icon {
	margin-top: 10px;
	cursor: pointer;
	color: #b80c09;
}

.fa-trash:before {
	content: "\f1f8"; }

.fas {
	font-style: normal;
	font-family: 'Font Awesome 5 Free';
	font-weight: 900; }

@font-face {
	font-family: 'Font Awesome 5 Free';
	font-style: normal;
	font-weight: 900;
	src: url("../webfonts/fa-solid-900.eot");
	src: url("../webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-solid-900.woff2") format("woff2"), url("../webfonts/fa-solid-900.woff") format("woff"), url("../webfonts/fa-solid-900.ttf") format("truetype"), url("../webfonts/fa-solid-900.svg#fontawesome") format("svg");
}

.total-money{
	display: flex;
	justify-content: center;
	color: #87bae1;
}

.total-count span{
	width: 30px;
	color: white;
	background-color: #4BC34B;
	text-align: center;
	margin-left: 32px;
	margin-top: -35px;
}

.total-button{
	margin-top: 20px;
	margin-bottom: 20px;
}

.message{
	background-color: #1e2d39;
	color: white;
	font-size: 16px;
	font-weight: bold;
	padding: 20px;
	border-radius: 10px;
	opacity: 0;
	position: fixed;
	left: 50%;
	top: 10%;
}

.message.visible{
	opacity: 1;
	z-index: 10;
}

.preview-large .items-list h3.count-products {
	width: 50px;
}

.preview-large h4 p{
	padding: 10px;
	color: #d24e8f;
	font-size: 28px
}

.preview-large h4 input{
	height: 40px;
	width: 300px;
	font-size: 30px;
}

